# Rappel du jour 1 

* environnements virtuels
* `pip`
* admin sys : path, pythonpath
* cpython : intépreteur "officiel", celui qui est écrit en `C`. Il y en a d'autre : `Jython`, `PyPy`
* typage : permet de donner des indications "optionnelles" pour faciliter le travail des linters mais aussi la documentation 
* `linters` : "les collègues relous", ils lire le code (au sens propre, ils ne l'éxécutent pas) et détecter des "anomalies" (mauvais types, non respect des conventions, ...)
    * `ruff` : généraliste + formattage, remplace `flake8`, `black` 
    * `mypy` : spécialisé sur le typage avec l'analyse des annotations de type
    * `pylint` : généraliste
*  qualité de code :
    *  "code smells" : mauvaise organisation du code
    *  test unitaires :

# Parsing de TLE

In [12]:
tle_data = """     ISS (ZARYA)             
1 25544U 98067A   14273.50403866  .00012237  00000-0  21631-3 0  1790
2 25544  51.6467 297.5710 0002045 126.1182  27.2142 15.50748592907666
ISS DEB [TOOLBAG]       
1 33442U 98067BL  09215.54829407  .13008691  12713-4  15349-3 0  3986
2 33442 051.6268 036.9885 0007699 292.6234 072.1768 16.49476607 40751
"""

In [13]:
tle_data

'     ISS (ZARYA)             \n1 25544U 98067A   14273.50403866  .00012237  00000-0  21631-3 0  1790\n2 25544  51.6467 297.5710 0002045 126.1182  27.2142 15.50748592907666\nISS DEB [TOOLBAG]       \n1 33442U 98067BL  09215.54829407  .13008691  12713-4  15349-3 0  3986\n2 33442 051.6268 036.9885 0007699 292.6234 072.1768 16.49476607 40751\n'

In [14]:
lines = tle_data.split("\n")
lines

['     ISS (ZARYA)             ',
 '1 25544U 98067A   14273.50403866  .00012237  00000-0  21631-3 0  1790',
 '2 25544  51.6467 297.5710 0002045 126.1182  27.2142 15.50748592907666',
 'ISS DEB [TOOLBAG]       ',
 '1 33442U 98067BL  09215.54829407  .13008691  12713-4  15349-3 0  3986',
 '2 33442 051.6268 036.9885 0007699 292.6234 072.1768 16.49476607 40751',
 '']

In [16]:
lines = [l.strip() for l in lines if l]
lines

['ISS (ZARYA)',
 '1 25544U 98067A   14273.50403866  .00012237  00000-0  21631-3 0  1790',
 '2 25544  51.6467 297.5710 0002045 126.1182  27.2142 15.50748592907666',
 'ISS DEB [TOOLBAG]',
 '1 33442U 98067BL  09215.54829407  .13008691  12713-4  15349-3 0  3986',
 '2 33442 051.6268 036.9885 0007699 292.6234 072.1768 16.49476607 40751']

In [17]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst.
    From https://stackoverflow.com/questions/312443/how-do-i-split-a-list-into-equally-sized-chunks
    """
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [21]:
items = list(chunks(lines, 3))
items[0]

['ISS (ZARYA)',
 '1 25544U 98067A   14273.50403866  .00012237  00000-0  21631-3 0  1790',
 '2 25544  51.6467 297.5710 0002045 126.1182  27.2142 15.50748592907666']